body {
    margin: 0;
    font-family:  "Poppins", sans-serif; 
    background-color: #FFAE00;
    color: #000; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    padding: 20px;
    box-sizing: border-box;
}

.especialdia {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    text-align: center;
    width: 500%;
    max-width: 1200px; 
}

.especialdia h2 {
    
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #000; 
    margin-bottom: 20.59px 33.46px;
    line-height: 15;
   
}


.divulgar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 30px; 
}

.texto {
    background-color: #FFAE00;
    text-align: center;
    border-radius: 80px; 
}

.texto img {
    width: 100%;
    max-width: 200px; 
    object-fit: cover; 
}
.texto h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 4000;
    font-size: 30px; 
    color: #000000; 
    text-align: center;
    
}

.texto p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: #000; 
    margin-bottom: 10px;
    text-align: left;
}

.texto  {
    font-family: "Poppins", sans-serif;
    color: #000; 
    margin-bottom: 40px;
}

.valor {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #000;
    margin-bottom: 30px;
    text-align: left;
}

.botao {
   
    background-color: #FFFFFF;
    color: #000000; 
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 20px;
   
  
}


